.process{
	width:100%;
	height:100%;
}
.process_head{
	width:100%;
	height:45px;
	position:fixed;
	top:0;
	left:0;
	background:white;
	z-index:100;
}

.process_body{
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding-top:45px;
}
.process_wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.process .process_right i{
	font-size:20px;
}

.process_body_box{
	background:white;
	min-height:101%;
}

/*----body----*/
.process .space1{
	width:100%;
	height:3px;
	border-bottom:1px solid #e4e5e7;
	background:#eff3f6;
}
.process .space2{
	width:100%;
	height:10px;
	border-top:1px solid #e4e5e7;
	border-bottom:1px solid #e4e5e7;
	background:#f1f2f6;
}
.process .shop_list_ul{
	width:100%;
	overflow: hidden;
}
.process .shop_list_li{
	width:100%;
	height:90px;
	background:white;
	position:relative;
	
}
.process .shop_list_li:after{
	width: 100%;
    content: '';
    height: 1px;
    border-right: 1px solid #f0f0f0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    z-index: 10;
}
.process .shop_list_li:last-child:after{
	width:0px;
	height:0px;
	content:"";
}
.process .shop_pic{
	width:70px;
	height:70px;
	box-sizing: border-box;
	border-radius:3px;
	position:absolute;
	top:15px;
	left:10px;
}
.process .shop_pic img{
	width:100%;
	height:100%;
}
.process .shop_info{
	width:100%;
	height:90px;
	box-sizing:border-box;
	padding-left:90px;
	border-bottom:1px solid #f2f2f2;
}
.process .shop_title{
	width:100%;
	font-size:14px;
	height:50px;
	line-height:50px;
	box-sizing: border-box;
    padding-right: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color:#101012;
}
.process .shop_price{
	margin-top:14px;
	font-size:14px;
	line-height:14px;
	color:#6a6a6a;
}
.process .shop_count{
	width:60px;
	height:20px;
	border:1px solid #cbcbcb;
	border-radius:3px;
	position:absolute;
	top:63px;
	right:10px;
}
.process .service_type,.application_voucher,.problem_describe,.upload_pic{
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 10px;
}
.process .pic_img{
	overflow: hidden;
}
.process .pic_img #pic_li{
	display: none;
}
.process .pic_img .pic_li{
	width: 60px;
    height: 60px;
    padding: 10px 10px 0 10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.process .pic_img .pic_li img{
	width:100%;
}
.process .pic_img .pic_li input{
	width: 70px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 0;
}
.process .pic_img .pic_li .delete{
	width: 25px;
    height: 25px;
    position: absolute;
    top: 2px;
    right: 0;
    background: url(../imgs/icon.png) -339px -318px no-repeat;
    background-size: 500px 667px;
}
.process .title{
	font-size:14px;
	line-height:30px;
	font-weight: normal;
}
.process .type_ul{
	overflow: hidden;
	padding-bottom:10px;
}
.process .type_ul li{
	font-size:14px;
	width:70px;
	height:25px;
	margin-right:10px;
	line-height:25px;
	text-align:center;
	border:1px solid #cacaca;
	border-radius:3px;
	float:left;
}
.process .type_ul li:first-child{
	border:1px solid #f82e2a;
	color:#f82e2a;
}
.process .voucher_type{
	overflow: hidden;
}
.process .voucher_type li{
	font-size:14px;
	width:90px;
	height:30px;
	line-height:30px;
	position:relative;
	float: left;
	box-sizing:border-box;
	padding-left:25px;
}
	
.process .draw{
	width:20px;
	height:20px;
	position:absolute;
	top:5px;
	left:0px;
	background:url(../imgs/icon.png) -443px -289px no-repeat;
	background-size:500px 666px;
}
.process .voucher_type li:last-child .draw{
	background-position:-260px -83px;
}

.process .word_count{
	position:absolute;
	font-size:13px;
	bottom:20px;
	right:20px;
	color:#a7a7a7;
}
.process .appReason{
	width:100%;
	height:50px;
	box-sizing:border-box;
	padding-right:20px;
	padding-left:12px;
	position: relative;
}
.process .reason_title{
	font-size: 14px;
	height: 50px;
    line-height: 50px;
    font-weight: normal;
    float:left;
}
.process .reason_content{
	font-size:14px;
	height:50px;
	line-height:50px;
	float:right;
	color:#41464a;
}
.process .reason_sel{
	width:20px;
	height: 50px;
	font-size:16px;
	line-height: 50px;
	position:absolute;
	top:0;
	right: 0;
}
.process .reason_sel i{
	color:#bfbfbf;
}
.process .problem_describe{
	position:relative;
}
.process .describe_content{
	width:100%;
	height:80px;
	border:none;
	resize:none;
	outline:none;
	box-sizing: border-box;
	padding-right:10px;
}
.process .describe_title{
	position:relative;
	margin-bottom:10px;
	border-bottom: 1px solid #dee1e6;
}
.process .describe_title:after{
	width: 100%;
    content: '';
    height: 1px;
    border-right: 1px solid #dee1e6;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    z-index: 10;
}
.process .upload_box{
	width: 60px;
    height: 60px;
    padding: 10px 10px 0 10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.process .upload_box img{
	width:100%;
} 
.process .upload_box input{
	width:60px;
	height:60px;	
	position: absolute;
	top:0;
	left:0;
}
.process .upload_remark{
	color:#838488;
	font-size:14px;
	width:100%;
	line-height:18px;
	box-sizing:border-box;
	padding-top: 10px;
	padding-right:10px;
}
.process .next_box{
	width:100%;
	height:60px;
	background:#f1f2f6;
	padding-top:30px;
}
.process .next{
	width:150px;
	height:30px;
	background:#f52f2c;
	border-radius:3px;
	line-height:30px;
	text-align:center;
	margin:0 auto;
	color:white;
}
.process textarea::-webkit-input-placeholder { 
color: #a9a9a9; 
} 



.process .del_add{
	width:78px;
	height:20px;
	position:absolute;
	top:60px;
	right:15px;
	border:1px solid #d0d0d0;
	border-radius:3px;
}
.process .del,.process .count,.process .add{
	float: left;
	
}

.process .del,.process .add{
	width:19px;
	height:20px;
	font-size:20px;
	text-align:center;
	line-height:20px;
	padding:0 2px;
	position:relative;
	top:0;
	left:0;
}
.process .icon-add{
	font-size:20px;
	line-height:20px;
	color:rgb(191, 191, 191);
}
.process .icon-del{
	font-size:20px;
	line-height:20px;
	color:#bfbfbf;
}
.process .undertint{
	color:#bfbfbf;
}
.process .original{
	color:#232227;
}
.process .count{
	width:30px;
	height:20px;
	text-align: center;
	line-height:20px;
	border-left:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
}
.process .count input{
	width:100%;
	height:100%;
	display: block;
	border:none;
	text-align:center;
}
.process .reason_list{
	width:100%;
	height:325px;
	position: fixed;
	bottom:-325px;
	left:0;
	background:white;
	z-index:102;
}
.process .reason_wrapper{
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
}
.process .reason_iscroll{
	height:101%;
}
.process .reason_iscroll h5{
	width:100%;
	height:45px;
	font-size: 15px;
	color:#7b7c80;
	text-align:center;
	line-height:45px;
}
.process .reason_iscroll .reasonCancel{
	width: 16px;
    height: 16px;
    background: url(../imgs/icon.png) -280px -233px no-repeat;
    background-size: 500px 667px;
    position: absolute;
    top: 16px;
    right: 12px;
    z-index: 500;
}
.process .reason_iscroll ul{
	width:100%;
	box-sizing: border-box;
	padding-left:12px;
}
.process .reason_iscroll ul li{
	font-size:13px;
	height:35px;
	line-height:35px;
	color:#3C444b;
}
.process .reason_iscroll ul li span{
	display: inline-block;
	width:16px;
	height: 12px;
    margin-left: 12px;
    position: absolute;
    top:12px;
    right: 12px;
	background:url(../imgs/icon.png) -480px -290px no-repeat;
	background-size:500px 667px;
	display: none;
}

.
		