.forget{
	width:100%;
	height:100%;
	background:#f1f2f6;
}
.forget input{
	outline: none;
}
.forget input::-webkit-input-placeholder{
	font-size: 14px;
}
.forget .reset_password{
	width:100%;
	height:50px;
	background:white;
	margin-top:10px;
}
.forget .reset_title{
	font-size:14px;
	height:50px;
	line-height:50px;
	margin:0 2.8%;
	text-align: center;
	float: left;
	color:#3c444b;
}
.forget .reset_input{
	width:75%;
	border:none;
	font-size:14px;
	height:14px;
	line-height:18px;
	float: left;
	padding-top:18px;
}
.forget .next_button{
	width:93%;
	margin:0 3.5%;
	margin-top:12px; 
	height:33px;
	font-size: 14px;
	border:none;
	background:#cacaca;
	color:#fff;
	border-radius: 3px;
}
