.forget{
	width:100%;
	height:100%;
	background:#f1f2f6;
}
.forget input{
	outline: none;
}
.forget input::-webkit-input-placeholder{
	font-size: 14px;
}
.forget .user_box,.forget .email_box,.forget .identify_box{
	width:100%;
	height:50px;
	border:none;
	font-size:15px;
	line-height:50px;
	color:#3c454c;
	position: relative;
	padding:16px 35px 16px 75px;
	box-sizing:border-box;
	background: white;
	margin-top:10px;
}
.forget .user_title,.forget .email_title{
	width:50px;
	font-size:15px;
	height:18px;
	line-height:18px;
	display: block;
	position: absolute;
	top:16px;
	left:12px;
}
.forget .user_input,.forget .email_input{
	width:100%;
	font-size: 15px;
	height:18px;
	line-height: 18px;
	border:none;
	outline:none;
	display: block;
}
.forget .empty_userno,.forget .empty_email{
	width:35px;
	height:50px;
	line-height: 50px;
	text-align: right;
	color:#bfbfbf;
	box-sizing: border-box;
	padding-right:12px;
	position: absolute;
	top:0;
	right:0;
}
.forget .next{
	width: 100%;
	box-sizing: border-box;
	padding:0 12px;
}
.forget .next_button{
	width:100%;
	margin-top:12px; 
	height:40px;
	font-size: 14px;
	border:none;
	background:#cacaca;
	color:#fff;
	border-radius: 3px;
}
