.revise_order_box {
	width:100%;
	height:100%;
	box-sizing: border-box;
}
.revise_order_box  .revise_order {
	width:100%;
	height:100%;
	background:#f1f2f6;
	position:relative;
}
/*--head---*/
.revise_order_box  .cart_head{
	width:100%;
	height:45px;
	background:white;
	position:fixed;
	top:0;
	left:0;
	z-index: 101;
}
.revise_order_box  .cart_left{
	width:30%;
	height:44px;
	float: left;
}
.revise_order_box  .cart_title{
	width:40%;
	font-size:18px;
	text-align:center;
	line-height:44px;
	float: left;
	color:#3C444b;
}
.revise_order_box  .cart_edit{
	color:#88898d;
	width:30%;
	height:44px;
	line-height:44px;
	text-align: right;
	box-sizing:border-box;
	padding-right:12px;
	float: left;
	font-size: 14px;
}
/*--body---*/
.revise_order_box  .cart_body{
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding-top:45px;
	padding-bottom:50px;
	overflow: hidden;
}
.revise_order_box  .cart_wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.revise_order_box  .cart_body_box{
	min-height: 101%;
	position: relative;
}
.revise_order_box  .order_note_box,.revise_order_box  .del_title_box{
	width:100%;
	box-sizing: border-box;
	padding-left:10px;
	height:45px;
	background:white;
}
.revise_order_box  .order_note_box p,.revise_order_box  .del_title_box p{
	font-size:14px;
	height:45px;
	line-height:45px;
	color:#3C444b;
}
.revise_order_box  .revise_order  .cart_list_ul{
	width:100%;
	background:white;
}
.revise_order_box  .revise_order  .list_li{
	width:100%;
	height:110px;
	box-sizing: border-box;
	
	padding:20px 0 0 10px;
	position: relative;
}
.revise_order_box  .li_sel{
	position:absolute;
	top:48px;
	left:12px;
	width:20px;
	height:20px;
	background:url(../imgs/icon.png) -260px -83px no-repeat; 
	background-size: 500px 666px;
}
.revise_order_box  .all_sel{
	position:absolute;
	top:16px;
	left:12px;
	width:20px;
	height:20px;
	background:url(../imgs/icon.png) -260px -83px no-repeat; 
	background-size: 500px 666px;
}
.revise_order_box  .all_edit_sel{
	position:absolute;
	top:16px;
	left:12px;
	width:20px;
	height:20px;
	background:url(../imgs/icon.png) -260px -83px no-repeat; 
	background-size: 500px 666px;
}
.revise_order_box  .edit_sel{
	position:absolute;
	top:48px;
	left:12px;
	width:20px;
	height:20px;
	background:url(../imgs/icon.png) -260px -83px no-repeat; 
	background-size: 500px 666px;
}
.revise_order_box  .li_nor{
	position:absolute;
	top:48px;
	left:12px;
	width:20px;
	height:20px;
	background:url(../imgs/icon.png) -442px -289px no-repeat; 
	background-size: 500px 666px;
}
.revise_order_box  .edit_nor{
	position:absolute;
	top:48px;
	left:12px;
	width:20px;
	height:20px;
	background:url(../imgs/icon.png) -442px -289px no-repeat; 
	background-size: 500px 666px;
}
.revise_order_box  .all_nor{
	position:absolute;
	top:16px;
	left:12px;
	width:20px;
	height:20px;
	background:url(../imgs/icon.png) -442px -289px no-repeat; 
	background-size: 500px 666px;
}
.revise_order_box  .all_edit_nor{
	position:absolute;
	top:16px;
	left:12px;
	width:20px;
	height:20px;
	background:url(../imgs/icon.png) -442px -289px no-repeat; 
	background-size: 500px 666px;
}
.revise_order_box  .li_sel_sel{
	background-position:-260px -83px;
}
.revise_order_box  .li_pic,.revise_order_box  .li_title{
	float: left;
}

.revise_order_box  .revise_order  .li_pic{
	position:relative;
	width:70px;
	height:70px;
	float: left;
	z-index:100;
}
.revise_order_box  .revise_order  .li_pic a{
	width:70px;
	height:70px;
	position:relative;
	display: block;
}
.revise_order_box  .revise_order  .li_pic img{
	width:70px;
	height:70px;
}
.revise_order_box  .li_shop_box{
	width:100%;
	height:90px;
}
.revise_order_box  .revise_order  .shop_info{
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding:0 0 0 80px;
}
.revise_order_box  .shop_info_box{
	width:100%;
	height:100%;
}
.revise_order_box  .revise_order  .li_title{
	width:100%;
	font-size:13px;
	height:20px;
	box-sizing: border-box;
    padding-right: 30px;
	line-height:20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.revise_order_box  .shop_standard{
	width:100%;
	font-size:12px;
	height:	16px;
	line-height:16px;
	margin-bottom:14px;
	color:#81818d;
}
.revise_order_box  .shop_standard span{
	padding-right:10px;	
}
.revise_order_box  .shop_sign{
	
	font-size:12px;
	color:red;
	line-height:16px;

	
}
.revise_order_box  .revise_order  .li_price{
	position:absolute;
	top:55px;
	color:#e8332a;
}
.revise_order_box  .revise_order  .li_price .small{
	font-size: 13px;
}
.revise_order_box  .icon-gouwuche{
	font-size:20px;
}
.revise_order_box  .li_add{
	width:78px;
	height:20px;
	position:absolute;
	top:55px;
	right:10px;
	border:1px solid #d0d0d0;
	border-radius:3px;
	
}
.revise_order_box  .del,.revise_order_box  .count,.revise_order_box  .add,.revise_order_box  .count_input{
	float: left;
	
}

.revise_order_box  .del,.revise_order_box  .add{
	width:19px;
	height:20px;
	font-size:20px;
	text-align:center;
	line-height:20px;
	padding:0 2px;
	position:relative;
	top:0;
	left:0;
	
}
.revise_order_box  .icon-del,.revise_order_box  .icon-add{
	font-size:20px;
	line-height:20px;
	color:#232227;
}
.revise_order_box  .undertint{
	color:#bfbfbf;
}
.revise_order_box  .original{
	color:#232227;
}

.revise_order_box  .count,.revise_order_box  .count_input{
	width:30px;
	height:20px;
	text-align: center;
	line-height:20px;
	border-left:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
}
.revise_order_box  .count{
	display: none;
}
.revise_order_box  .count_input input{
	width:100%;
	height:100%;
	display: block;
	text-align:center;
}
.revise_order_box  .cart_foot{
	width:100%;
	height:50px;
	position:fixed;
	bottom: 0;
	left:0;
	background:white;
}
.revise_order_box  .foot_left1{
	width:20%;
	height:50px;
	font-size:12px;
	position:relative;
	box-sizing:border-box;
	padding-left:35px;
	line-height:50px;
	float: left;
}

.revise_order_box  .foot_left2{
	width:40%;
	height:50px;
	float: left;
	box-sizing: border-box;
	padding-left: 10px;
}
.revise_order_box  .foot_left2 .up{
	width:100%;
	font-size:14px;
	height:30px;
	line-height:36px;
}
.revise_order_box  .foot_left2 .down{
	width:100%;
	font-size:12px;
	height:20px;
	line-height:13px;
}
.revise_order_box  .foot_right{
	width:30%;
	height:50px;
	font-size:16px;
	
	text-align:center;
	float: right;
	line-height:50px;
	color:white;
}
.revise_order_box  .pass{
	background:#f52f2c;
}
.revise_order_box  .session{
	background:#ffb12e;
}
.revise_order_box  .foot_right p{font-size: 14px;display: inline;}
.revise_order_box  .foot_right2{
	float: right;
	width:160px;
	height:30px;
	margin-top:9px;
}
.revise_order_box  .foot_right2 li{
	width:70px;
	height:30px;
	font-size:12px;
	line-height:30px;
	text-align:center;
	color:#2d2d2f;
	float: left;
	box-sizing:border-box;
	border:1px solid #cacaca;
	margin-right:10px;
	border-radius:3px;
}
.revise_order_box  .foot_right2 li.cut{
	color:#f62f2a;
	border:1px solid #f62f2a;

}
.revise_order_box  .shop_info{
	position:relative;
}
.revise_order_box  .empty{
	padding-top: 5%;
	box-sizing: border-box;
	text-align: center;
	margin-top: 10%;
}
.revise_order_box  .empty .icon{
	background: url(../imgs/icon.png) -223px -510px no-repeat;
	background-size: 500px 667px;
	width:70px;
	height:67px;
	margin: 20px auto;
}
.revise_order_box  .empty p{font-size: 13px; color: #a0a0a0; margin: 10px;}
.revise_order_box  .empty .tohome{border-radius: 3px;border: 1px solid #666666; margin:0 auto;background: #FFFFFF; width: 90px; height: 25px; color: #666666; font-size: 13px; text-align: center; line-height: 25px;}


/*移入收藏成功提示框*/
.revise_order_box  .cart_prompt {
	width: 40%;
	background: rgba(0, 0, 0, 0.6);
	height: 17%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 5.5% 0;
}
.revise_order_box  .cart_prompt img {
	width: 25%;
	display: block;
	margin:0 auto 7%;
}
.revise_order_box  .cart_prompt .txt {
	text-align: center;
	color: #FFFFFF;
}
.revise_order_box  .is_load {
	width: 40%;
	background: rgba(0, 0, 0, 0.4);
	height: 17%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 5.5% 0;
}
.revise_order_box  .is_load img {
	width: 25%;
	display: block;
	margin:0 auto 7%;
}
.revise_order_box  .is_load .txt {
	text-align: center;
	color: #FFFFFF;
}

.revise_order_box  .del_it{
	width:20px;
	height:20px;
	position: absolute;
	right:8px;
	top:0;
	background:url(../imgs/icon.png) -224px -373px no-repeat;
	background-size:400px 553px;
}
.revise_order_box  .rec_it{
	width:20px;
	height:20px;
	position: absolute;
	right:8px;
	top:0;
	background:url(../imgs/icon.png) -247px -373px no-repeat;
	background-size:400px 553px;
}
.revise_order_box  .del_list_ul{
	background:white;
}
