.r_tel{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:200;
}
.r_tel .tel_head{
	width:100%;
	height:45px;
	position:absolute;
	top:0;
	left:0;
	background:#f8f8f8;
}
.r_tel .tel_right{
	color:#f52f2c;
}
.r_tel .tel_body{
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding-top:45px;
}
.r_tel .tel_wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.r_tel .x_tel_box{
	width:100%;
	height:50px;
	position:relative;
}
.r_tel .telTitle{
	width: 90px;
	height: 50px;
	font-size: 14px;
	color:#3d444a;
	line-height: 50px;
	text-indent:12px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}
.r_tel .x_tel{
	width:100%;
	height:50px;
	box-sizing:border-box;
	padding-right:40px;
	padding-left:90px;
	border:none;
	outline:none;
	font-size:14px;
	
}
.r_tel .empty{
	width:16px;
	height:16px;
	background:url(../imgs/icon.png) 0 0 no-repeat;
	background-size:500px 667px;
	background-position:-343px -290px;
	position:absolute;
	top:17px;
	right:10px;
}
.r_tel .tips{
	width:100%;
	height:30px;
	font-size:12px;
	color:#aaabaf;
	text-indent:15px;
	line-height:40px;
	background:#f1f2f6;
	display: none;
}
.r_tel .next_box{
	width: 100%;
	height: 40px;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
	
}
.r_tel .next{
	width: 100%;
	height: 40px;
	line-height:40px;
	margin-top:10px;
	text-align:center;
	background:rgb(245, 47, 44);
	color:white;
	border-radius: 3px;
}