<div class="register">
	<div class="place_head">
		<div class="place_back">
			<a href=""><i class="iconfont icon-back" ng-click="myBack()"></i><span class="myClose()">关闭</span></a>
		</div>
		<div class="place_title">填写企业信息</div>
	</div>
	<div class="register_body">
		<div class="register_wrapper">
			<div class="register_iscroll">
				<div class="space2"></div>
				<div class="user_box">
					<span class="user_title">用户名：</span>
					<input type="text" placeholder="请填写用户名" class="user_input" />
					<div class="empty"><i class="iconfont icon-shanchu-copy"></i></div>
				</div>
				<div class="email_box">
					<span class="email_title">邮箱：</span>
					<input type="text" placeholder="请填写邮箱" class="email_input" />
					<div class="empty"><i class="iconfont icon-shanchu-copy"></i></div>
				</div>
				<div class="set_box">
					<span class="set_title">设置密码：</span>
					<input type="text" placeholder="6-16位数字、字母或符号的组合" class="set_input" />
					<div class="empty"><i class="iconfont icon-shanchu-copy"></i></div>
				</div>
				<div class="confirm_box">
					<span class="confirm_title">确认密码：</span>
					<input type="text" placeholder="6-16位数字、字母或符号的组合" class="confirm_input" />
					<div class="empty"><i class="iconfont icon-shanchu-copy"></i></div>
				</div>
				<div class="next">
					
						<input type="button" value="立即注册" class="next_button" />
				</div>
			</div>
		</div>
	</div>
	<div class="tips" style="display: none;"></div>
	<prompt></prompt>
</div>