<div class="help_center">
	<!------------导航栏------------>
	<div class="navBar">
		<div class="back m_l" ng-click="myBack()">
			<i class="iconfont icon-back"></i>
		</div>
		<div class="title m_m">帮助中心</div>
		<div class="shortcut m_r" ng-click="change_nav()"><i class="iconfont icon-shenglvehao"></i></div>
		
	</div>
	<!--youshangjiao-->
	<ysj></ysj>
	<div class="help">
		<div id="help">
			<ul>
				<li class="item gh">
					<div class="title"><i></i>新手上路</div>
					<ul class="ul1">
						<li ui-sref="issue_detail">注册及审核<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">购物流程<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">付款方式<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">商品咨询<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">增票制度<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">合约客户<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">常见问题<i class="iconfont icon-more"></i></li>
					</ul>
				</li>
				<li class="item od">
					<div class="title"><i></i>订单说明</div>
					<ul class="ul2">
						<li ui-sref="issue_detail">订单查询<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">订单拆分<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">订单取消<i class="iconfont icon-more"></i></li>
					</ul>
				</li>
				<li class="item eef">
					<div class="title"><i></i>企业专享功能</div>
					<ul class="ul3">
						<li ui-sref="issue_detail">多地址配送<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">多级审批<i class="iconfont icon-more"></i></li>
					</ul>
				</li>
				<li class="item ship">
					<div class="title"><i></i>配送服务</div>
					<ul class="ul4">
						<li ui-sref="issue_detail">配送服务说明<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">发货与签收<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">配送服务查询<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">配送范围<i class="iconfont icon-more"></i></li>
						<li ui-sref="issue_detail">配送费用说明<i class="iconfont icon-more"></i></li>
					</ul>
				</li>
			</ul>
		</div>
		</div>
	</div>
