<div class="kac">
	<div class="navBar ab">
		<div class="back m_l" ng-click="myBack()">
			<i class="iconfont icon-back"></i>
		</div>
		<div class="title m_m">大客户合作</div>
		<div class="shortcut m_r" ng-click="change_nav()"><i class="iconfont icon-shenglvehao"></i></div>
		
	</div>
	<!--youshangjiao-->
	<ysj></ysj>
	<div class="kac_body">
		<div id="kac_wrapper">
			<div class="kac_box">
				<div class="upper"><img src="imgs/kac/kac_0.jpg" alt="" /></div>
				<div class="lower">
					<div class="mode">
						<div class="title"><img src="imgs/kac/kac_1.jpg" alt="" /></div>
						<ul>
							<li class="exclusive">
								<div class="content clearfix">
									<div class="img fl_l"></div>
									<div class="txt fl_l">专属商品</div>
									<div class="btn fl_r" ui-sref="kac_exclusive">查看详情</div>
								</div>
							</li>
							<li class="survice">
								<div class="content clearfix">
									<div class="img fl_l"></div>
									<div class="txt fl_l">专享一对一网站</div>
									<div class="btn fl_r" ui-sref="kac_exclusive">查看详情</div>
								</div>
							</li>
							<li class="team">
								<div class="content clearfix">
									<div class="img fl_l"></div>
									<div class="txt fl_l">专业服务团队</div>
									<div class="btn fl_r" ui-sref="kac_exclusive">查看详情</div>
								</div>
							</li>
							<li class="purchase">
								<div class="content clearfix">
									<div class="img fl_l"></div>
									<div class="txt fl_l">阳光采购</div>
									<div class="btn fl_r" ui-sref="kac_exclusive">查看详情</div>
								</div>
							</li>
							<li class="exchanged">
								<div class="content clearfix">
									<div class="img fl_l"></div>
									<div class="txt fl_l">便捷退换货</div>
									<div class="btn fl_r" ui-sref="kac_exclusive">查看详情</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>