<div class="forget">
<findpasswordtitle></findpasswordtitle>
<div class="user_box ab bt">
	<div class="user_title">账户名</div>
	<input type="text" placeholder="请填写账户名" class="user_input" />
	<div class="empty_userno"><i class="iconfont icon-shanchu-copy"></i></div>
</div>
<div class="email_box ab bt">
	<div class="email_title">邮箱号</div>
	<input type="text" placeholder="请输入邮箱号" class="email_input"/>
	<div class="empty_email"><i class="iconfont icon-shanchu-copy"></i></div>
</div>
<div class="next">
	<input type="button" value="确认" class="next_button"/>
</div>
<loading></loading>
<prompt></prompt>
</div>