<div class="forget">
<findpasswordtitle></findpasswordtitle>
<div class="user_box">
	<div class="user_title">账户名</div>
	<input type="text" placeholder="请输入手机号或邮箱号" class="user_input"/>
	<div class="empty"><i class="iconfont icon-shanchu-copy"></i></div>
</div>
<div class="identify_box">
	<div class="identify_title">验证码</div>
	<input type="text" placeholder="请输入验证码" class="identify_input"/>
	<div class="identify_img"><img src="../../imgs/find_password/identify.jpg" alt="" /></div>
</div>
<div class="next">
	<a href="" ui-sref="forget_password2">
	<input type="button" value="下一步" class="next_button"/></a>
</div>



</div>
