<div class="kac_exclusive">
	<!------------导航栏------------>
	<div class="navBar ab">
		<div class="back m_l" ng-click="myBack()">
			<i class="iconfont icon-back"></i>
		</div>
		<div class="title m_m">专属商品</div>
		<div class="shortcut m_r" ng-click="change_nav()"><i class="iconfont icon-shenglvehao"></i></div>
		

	</div>
	<!--youshangjiao-->
	<ysj></ysj>
	
	<div class="content"><p>文之选将在上海、北京、广州为合约客户设置客户专属常用商品安全库存，以保证客户常用商品的正常持续供应（其他城市共用上海仓储）若因生产厂方原因，导致客户常用
商品缺货或者停产，我们将提前15日告知客户a相关工作人员，以做好相应准备产生断货或停产，为保证客户常用商品的持续供应，我们将向客户相关人员提供2种以上同等品质的商品备选。</p></div>
</div>