<div class="issue_detail">
	<div class="place_head ab">
		<div class="place_back">
			<a href="" ng-click="myBack()"><i class="iconfont icon-back"></i></a><a href="" ui-sref="mine" class="close">关闭</a>
		</div>
		<div class="place_title">配送费用说明</div>
		<div class="place_right" ng-click="change_nav()"><i class="iconfont icon-shenglvehao"></i></div>
	</div>
	<!--youshangjiao-->
	<ysj></ysj>
	<div class="container">
		<div class="wrapper">
			<div class="iscroll">
				<img src="imgs/big_client/issue_detail.jpg">
			</div>
		</div>
	</div>
	
    
    
</div>